apiVersion: apps/v1
kind: Deployment
metadata:
  name: maven
  labels:
    app: maven
spec:
  replicas: 1
  selector:
    matchLabels:
      app: maven
  template:
    metadata:
      labels:
        app: maven
    spec:
      containers:
      - name: maven
        image: meghanajshetty/maventomcat:latest
        ports:
        - containerPort: 8080
